* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', Arial, sans-serif;
}
body {
    height: 100vh;
    background-color: rgb(164, 243, 167);
    display: grid;
    place-items: center;
    overflow: hidden;
}
.container {
    width: 300px;
    border-radius: 6px;
    padding: 8px;
    background-color: rgb(135, 255, 127);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
}
#title {
    text-align: center;
    padding: 4px 0;
    border-bottom: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}
#coinSticker {
    border-radius: 10px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}
#userValue {
    display: block;
    width: 100%;
    padding: 10px 8px;
    margin: 12px 0;
    border-radius: 4px;
    border: 1px solid gray;
    outline: transparent;
    font-family: monospace;
}
.selecterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}
.selecterContainer select {
    padding: 2px;
    border-radius: 4px;
    max-width:40%;
    outline: transparent;
}
#switchCurrency {
    font-size: 22px;
    border: 0;
    outline: transparent;
    background-image: url("https://www.svgrepo.com/show/378512/arrow-right-left.svg");
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 30%;
}
#status {
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
    color: rgb(143, 132, 132);
    text-transform: capitalize;
}
#btn {
    width: 100%;
    background-color: rgb(37, 215, 37);
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    margin: 12px 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.14s;
}
#btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgb(77, 223, 231);
}
#result {
    width: 100%;
    padding: 12px 16px;
    font-weight: 550;
    text-align: center;
    border-radius: 6px;
    background-color: rgba(11, 125, 59, 0.3);
}